* {
    margin: 0;
    padding: 0;
}

html{
    background-color: #ffffff;
    color: grey;
    font-size: 16px;
    font-weight: 500;
    font-family: arial;
}

h1 {
    background-color: #4251dd;
    color:#FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    margin: 0;
}

.bg-form {
    /* background-color: #4251dd; */
    width: 470px;
    margin: 6% auto 0;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 1px #c2c2c2;
}

/*  Início Cabeçalho do formulário */
.form-head {
    /* background-color: brown; */
    border-bottom: 1px solid #d2d2d2;
    border-radius: 10px 10px 0 0;
}

.form-head h2 {
    display: inline-block;
    color: #000000;
    padding: 20px 0 5px 20px;
    font-size: 2rem;
    font-weight: 600;
}

.form-head p {
    padding: 0 0 15px 20px;
    font-size: 1rem;
    font-weight: 300;
}

.form-head a {
    /* background-color: red; */
    color: hsl(0, 0%, 37%);
    display: inline-block;
    margin-left: 50%;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5rem;
}
/* final Cabeçalho do formulário */

/* Inicio INPUTS */
form {
    /* background-color: orange; */
    color: #6d6d6d;
    margin: 15px 20px;
}

form input {
    background-color: hsl(0, 0%, 97%);
    margin: 5px 0;
}

form input, form select { 
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #c2c2c2;    
}

#nome, #sobrenome {
    width: 44%;
    display: inline;
    padding: 14px 10px;
}

#sobrenome {
    float: right; 
}

#email, #senha {
    display: inline-flex;
    width: 95%;
    padding: 14px 10px;
}
/* Final INPUTS */

/* Início LABELs do SELECT e RADIO*/
form label {
    display: block;
    margin: 10px 0 3px;
    /* background-color: red; */
}

form a{
    background-color: #6d6d6d;
    color: #ffffff;
    font-size: .7rem;
    text-decoration: none;
    border-radius: 100%;
    padding: 0.1% 0.7% 0.05%;
}
/* Final LABELs do SELECT e RADIO*/

/* Início SELECT */
select {
    display: flex;
    background-color: #ffffff;
    padding: 10px 10px;
    width: 32%;
    margin-right: 3%;
}

select option {
    background-color: #ffffff;
}

select:last-child {
    float: right;
    margin-right: 0px;
}
/* Final SELECT */

/* Início RADIO */
.flex-container {
    display: flex;
    width: 100%;
    /* background-color:darksalmon; */
}

.flex-item {
    width: 100%;
    display: flex;
    color: #000000;
    background-color: #ffffff;
    padding: 7px 10px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    margin: 0 3% 0 0;
    /* background-color: blueviolet; */
}

.flex-item:last-child {
    float: right;
    margin-right: 0px;
}

.flex-item label {
    padding: 6px 16px 0 0px;
    margin: 0 0 0 0;
    /* background-color: red; */
}

.flex-item input {
    width: 17px;
    height: 17px;
    background-color: yellow;
}

.politica-dados {
    width: 100%;
    display: block;
    font-size: 0.7rem;
    margin-top: 10px;
    /* background-color: darkgreen; */
}

.politica-dados a{
    color: #4251dd;
    text-decoration: none;
    padding: 0;
    background-color: #ffffff;
}

#btnCadastrar {
    padding: 8px 50px;
    background-color: rgb(36, 170, 36);
    color: #ffffff;
    border: 1px solid rgb(36, 170, 36);
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 20px auto 25px;  
}

#btnCadastrar:hover {
    background-color: rgb(36, 130, 36);
    border: 1px solid rgb(36, 130, 36);
}